@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Neuton:wght@400;700&family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Neuton', serif;
  font-family: 'Poppins', sans-serif;
  /* transition: 1s all; */
}

.app-bg_img-home {
  background-image: url(./assests/Group\ 1000002646.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.app-bg_img {
  background-image: url(./assests/cart_bg.svg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}